<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1" >			
			<title></title>		
			<!-- Bootstrap -->
			<link href="css/bootstrap.min.css" rel="stylesheet" />
			<link href="css/style.css" rel="stylesheet" />
			<link rel="stylesheet" href="css/font-awesome.css" />
			<link href="css/fonts/fonts.css" type="text/css" rel="stylesheet" />	
			
	
		</head>
	
		<body style="background:url(https://effiasoft.com/wp-content/uploads/blockchain-background.jpg)">
		
			<header>
				<div  class="crypto">
					<div class="container">
						<div class="row">
							<div class="logo">
							<p>CRYPTOMARKETCLOUD</p>
							</div>
						</div>
					</div>
				</div>
			</header>
			<section class="cntnt">
				
						<div class="col-md-4">
							<div class="link_1_11">

								<a >
									C-Chain
								</a>
								<br>
								<a href="/tokenmaking">
									create your smart contract
								</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="link_1_1_1">
								{{!-- <a href="/icoplatform">
									ICO platform
								</a> --}}
								<a class="ico2">C-Chain STO</a><br>
								
								
								 <a class="btn2" href="/icoform" style="margin:5px;">
									Submit STO/ICO 
								</a>

								<a class="btn2" href="/icolist" style="margin:5px;">
									View STO/ICO
								</a>

							</div>
						</div>
						<div class="col-md-4">
							<div class="link-1-1">
								<a href="https://dproto.devgenesis.com/">
									C-Chain Exchange
								</a>
							</div>
						</div>
					
			</section>
							
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>			
		
		</body>	
	</html>