<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1" >			
			<title></title>		
			<!-- Bootstrap -->
			<link href="css/bootstrap.min.css" rel="stylesheet" />
			<link href="css/icodetail.css" rel="stylesheet" />
			<link rel="stylesheet" href="css/font-awesome.css" />
			<link href="css/fonts/fonts.css" type="text/css" rel="stylesheet" />			
		</head>
	
		<body>
			<header>
				<div  class="crypto">
					<div class="container">
						<div class="row">
						<div class="col-md-6">
							<div class="logo">
							<p> <img src="/images/logo.png" alt="crypto image" width="90" height="50"">CRYPTOMARKETCLOUD</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="nav">
							<ul class="nav navbar-nav">
								<li><a href="/home">Home</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Media</a></li>
							</ul>
							</div>
						</div>
						</div>
					</div>
				</div>
			</header>
			<section class="currency_percent">
				<div class="container">
					<div class="row">
						<div class="ico-percent">
							<div class="ico-percent-v1">
								<a href="#">										
									<span class="ico-price-name">BTC: </span>
									<span class="ico-price-value">$ 6,368.86</span>
									<span class="ico-price-change">
									(<span style="color: #4fd959;">0.07 %</span>)
									</span>		
								</a>
							</div>
							<div class="ico-percent-v1">
								<a href="#">										
									<span class="ico-price-name">ETH: </span>
									<span class="ico-price-value">$ 6,368.86</span>
									<span class="ico-price-change">
									(<span style="color: #4fd959;">0.07 %</span>)
									</span>		
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content-v1">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-2">
							<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/dezoslogoneu150-300x85.png" class="wp-post-image">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-10">
						<h1 class="single-title">
						<span class="title-text">DEZOS – dezentralized ownership</span><span class="labels"> <span class="hot">Hot</span> <span class="whitelist">Whitelist</span></span> </h1>
						<div class="row">
						<div class="col-xs-12">
						<p class="global">Global Scalable Asset Protection</p>
						</div>
						</div>
						<div class="row">
						<div class="col-xs-12 col-md-8 col-md-push-4 external-css">
						<a class="btn btn-primary btn-ICO-whitepaper" href="https://dezos.io/files/whitepaper.pdf" target="_blank">View Whitepaper</a>
						<a class="btn btn-primary btn-ICO-website" href="https://dezos.io/" target="_blank">View Website</a>
						<a class="btn btn-primary btn-ICO-website" href="/buytoken" target="_blank">Participate in ICO</a>
						</div>
						<div class="col-xs-12 col-md-4 col-md-pull-8 ico-fa-links">
						<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="#" target="_blank"><i class="fa fa-reddit"></i></a>
						<a href="#" target="_blank"><i class="fa fa-medium"></i></a>
						<a href="#" target="_blank"><i class="fa fa-github"></i></a>
						</div>
						</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content-v1">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-8 left-clm">
							<p class="title-1">Features</p>	
							<p>The DEZOS protocol is a unique, virtual inventory based on blockchain technology. This inventory allows for a clear ownership status as well as other relevant records of a so-called item to record throughout its lifetime, transfer to someone else, or verify authenticity. Using a combination of unique features, a digital fingerprint is generated that determines the item and its initial ownership status (Item Genesis).</p>
							<p>Lost &amp; Found revolutionized - Search engine for property with reward program. Worldwide there is no search engine for property based on blockchain. But most items that are lost have a unique identifier, like a serial number or VIN number. If someone finds a physical item, he can search for this item on the DEZOS search engine and sees if the item is flagged as “LOST” or “STOLEN”. If that is the case, the owner of the item can set a reward on the items. So, the finder can contact the owner over an anonymous messenger and arrange the return of the item and collect the reward for it. No third party must be involved into this process anymore. This system works worldwide with ease.</p>
							<p>Blockchain, also known as distributed ledger technology, is a distributed database that manages an ever-growing list of records called "blocks" that are protected from manipulation and revision without the need for central authority. Blockchain's core characteristics are immutability, speed, and security, providing the ideal platform for tracking and protecting valuable assets and critical data. The records encrypted on the blockchain are permanent and can not be changed. This provides one single version of the truth and gives security in terms of the authenticity of the data.</p>
							<p>The decentralized nature of Blockchain provides the highest level of datarecord security. Information is additionally secured by cryptographic methods. These core capabilities of the blockchain technology are those that adopts the DEZOS protocol and provides them for essential use cases. DEZOS does not develop any other abstract concept that only a fraction of the specialists understands. The DEZOS protocol uses the most powerful features of blockchain technology to create realistic use cases with the highest added value.</p>
							<p><strong>PROBLEMS TO BE SOLVED</strong><br>
							Trust, crime and lost properties. Three core problems of today's human society. We make trust digitally comprehensible and transparent. With the DEZOS Ecosystem &amp; Protocol we develop a basic protocol that can be scaled to depth depending on your needs. To date, it is at the discretion of law enforcement agencies, that is, the police departments, which assets are declared in any way for a blacklisting. The Data Protection Act actively and efficiently prevents this from happening to prevent property fraud.</p>
							<p><strong>SOLUTION</strong><br>
							Blockchain for proof of ownership &amp; transfer.</p>
							<p>Our over 20 years of law enforcement and cybercrime experience allows us to leverage blockchain technology in its core functionality. The DEZOS Ecosystem &amp; Protocol goes new simple ways. We use the new technology to make the self-declaration transparent globally and in real time, while preserving the anonymity of the owner. With this gamechanger we shift a decades-old power relationship.</p>
							<p>From the first minute on, assets can be declared worldwide and in real-time using the "STOLEN" or "LOST" status via the DEZOS application for search, with ownership remaining with the owner. With this solution we bypass legal barriers and national borders worldwide and create a forward-looking and global ecosystem.</p>
							<p>Leveraging the core of blockchain technology, we are innovating solution that allows ownership of assets to be clearly assigned. In this way, we have managed to make the ownership of tangible assets digitally traceable and verifiable and at the same time to preserve the anonymity of the owner. This is how we protect property against theft and the resulting stolen goods.</p>
							<p>DEZOS will initiate a change in how people think about managing their properties by connecting and empowering manufacturers, retailers, consumers and law enforcement with a secure way to store property related data and exchange them. The DOS TOKEN enables a new era of a secure and decentralized property inventory storage and exchange.</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="col-bg">
								<h2>ICO Details</h2>
								<div class="row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Status
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								Active </div>
								</div>
								<div class="row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Starting date
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								November 1st, 2018 </div>
								</div>
								<div class="row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Ending date
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								January 31st, 2019 </div>
								</div>
								<div class="whitelist row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Whitelist
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								Yes </div>
								</div>
								<div class="token-sale-hard-cap row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Token Sale Hard Cap
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								ETH 90,000 </div>
								</div>
								<div class="token-sale-soft-cap row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Token Sale Soft Cap
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								ETH 1,000 </div>
								</div>
								<div class="presale-start-date row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Presale Start Date
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								December 11th, 2018 </div>
								</div>
								<div class="presale-end-date row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Presale End Date
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								December 31st, 2018 </div>
								</div>
								<div class="token-symbol row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Token Symbol
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								DOS </div>
								</div>
								<div class="token-type row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Token Type
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								ERC-20 Ethereum </div>
								</div>
								<div class="token-distribution row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Token Distribution
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								Distributed to Community 50% <br>
								Team &amp; Advisory 18% <br>
								Reserve 15% <br>
								Strategic Partner 10% <br>
								Marketing &amp; Bounty 7% <br> </div>
								</div>
								<div class="initial_token-price row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Initial Token Price
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								1 DOS = CHF 0,20 </div>
								</div>
								<div class="kyc row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								KYC
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								Yes </div>
								</div>
								<div class="particpation-restrictions row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Participation Restrictions
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								USA, Singapore, Iran and North Korea </div>
								</div>
								<div class="accepts row">
								<div class="col-xs-12 col-sm-3 col-md-5 dim">
								Accepts
								</div>
								<div class="col-xs-12 col-sm-9 col-md-7">
								FIAT BTC ETH </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="core-team">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<p class="team-title">Core Team</p>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/rene-120x120.png" class="team-ico" alt="team"><br>
								René Hauri<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="advisary-team">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<p class="team-title">Advisory Team</p>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="col-xs-6 col-md-4">
								<img src="https://www.icohotlist.com/wp-content/uploads/2018/11/sven-zimmermann-120x120.jpg" class="team-ico" alt="team"><br>
								Sven Zimmermann<br>
								<span class="dim">CEO &amp; Co-Founder</span>
								<br>
								<a href="https://www.linkedin.com/in/ren%C3%A9-hauri-132469136/" target="_blank">
								<i class="fa fa-linkedin"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
							
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>			
			
		</body>	
	</html>