<!DOCTYPE html>
	<html lang="en">

		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1" >			
			<title></title>		
			<!-- Bootstrap -->
			<link href="css/bootstrap.min.css" rel="stylesheet" />
			<link href="css/style.css" rel="stylesheet" />
			<link rel="stylesheet" href="css/font-awesome.css" />
			<link href="css/fonts/fonts.css" type="text/css" rel="stylesheet" />			
		</head>
	
		<body>
			<header>
				<div  class="crypto">
					<div class="container">
						<div class="row">
							<div class="logo">
							<p>CRYPTOMARKETCLOUD</p>
							</div>
						</div>
					</div>
				</div>
			</header>
			<section class="cntnt">
				
						
						<div class="col-md-6">
							<div class="link-1-0">
								<a href="#">
									Buy Tokens
								</a>
								<div class="token_list">
									<div class="col-md-12"><p class="listed_token">Listed Token</p></div>
								
								<div class="col-md-6">
								<p>1 ether = 100 Dezos Token</p>
							</div>
							<div class="col-md-12">
							
								<button class="btn btn-default" onclick="buytoken()">Buy</button>
								
								<p class="token_count">You Have <span id="number_of_token"> 565677 </span>Option One Token</p>
								<p class="token_count">Your Address is <span id="address_of_token"> Option One </span></p>
								<p class="token_count">Ether Balance is <span id="balance_of_token"> Option One</span></p>
							</div>
							</div>
							</div>
						</div>
					
			</section>
							
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	

			
		</body>	
	</html>