<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/shCore.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/shThemeMidNight.css">

	<script type="text/javascript" src="/javascripts/home.js"></script>
	<script type="text/javascript" src="/javascripts/shCore.js"></script>
	<script type="text/javascript" src="/javascripts/axios.min.js"></script>
	<script type="text/javascript" src="/javascripts/clipboard.min.js"></script>
	
</head>
<body>
	<section class="overlay">
			<div class="greenish">
				<div class="logo text-center">
					<a href="#">TOKEN FACTORY</a>
				</div>
			</div>
			<div class="content margin_50"> 
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center titles">Simple way to generate ERC20 Standard Token</h3>
						</div>
					</div>
					<div class="row">    
						<div class="col-md-12">
							<div class="col-md-4">
								<div class="formdata margin_50">
									<div class="form-horizontal">
										<div class="form-group">
											<label class="control-label float_left col-md-6" for="tokenName">Token Name:</label>
											<div class="col-md-6">
												<input type="text" class="form-control" id="tokenName" placeholder="Enter name">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label float_left col-md-6" for="tokenSymbol">Token Symbol:</label>
											<div class="col-md-6"> 
												<input type="text" class="form-control" id="tokenSymbol" placeholder="Enter symbol">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label float_left col-md-6" for="totalSupply" min="0">Total Supply:</label>
											<div class="col-md-6"> 
												<input type="number" class="form-control" id="totalSupply" placeholder="Enter supply">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label float_left col-md-6" for="decimals">Decimals:</label>
											<div class="col-md-6"> 
												<input type="number" class="form-control" id="decimals" placeholder="Enter value" min="0" max="18">
											</div>
										</div>
										<div class="form-group"> 
											<div class="col-md-12 text-center">
												<button type="submit" onclick="generate()" id="bttn" class="btn btn-Primary custom_button" >Generate</button>
												<button type="submit" onclick="reset()" class="btn btn-Primary custom_button">Reset</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="codedispaly margin_50">
									<div id="spinner">
				                    </div>
									<div class="textarea-container">
		        	                    <pre id="code_display" class="brush: js">
        		    	                </pre>
			            	            <button class="btn" data-clipboard-action="copy" data-clipboard-target=".code">Copy</button>
				                    </div>
								</div>
							</div>
						</div>
					</div> 
					<br>
					<br>
					{{!-- <div class="row">
						<div class="col-md-12">
							<div class="margin_50 text-center ">
								<button type="submit" class="btn btn-Primary custom_button">Watch Us</button>
								<button type="submit" class="btn btn-Primary custom_button">Read Me</button>
							</div>
						</div>
					</div> --}}
					<div class="row">    
						<div class="col-md-12 margin_50">
							<h3 class="text-center titles">Donations are always appreciated, help us to grow!</h3>
						</div>
						<div class="col-md-12">
							<div class="margin_50">
									<form class="form-horizontal">
										<div class="form-group col-md-6">
											<label class="control-label col-md-1" for="text" style="color: #00c8ff;">BTC:</label>
											<div class="col-md-11">
												<div class="input-group">
												<input type="text" class="form-control tex" id="bitcoin" value="14JMbnfuxdciU57hAJQZQ7aqFwterzDCQR" readonly>
													<span class="input-group-addon danger btn" data-clipboard-action="copy" data-clipboard-target="#bitcoin"><i class="white_text fa fa-clipboard" aria-hidden="true"></i></span>
													<span class="input-group-addon info"><span data-toggle="modal" data-target="#myModal1" class="white_text glyphicon glyphicon-qrcode"></span></span>
												</div>
											</div>
										</div>
										<div class="form-group col-md-6">
											<label class="control-label col-md-1" for="text" style="color: #00c8ff;">ETH:</label>
											<div class="col-md-11"> 
												<div class="input-group">
													<input type="text" class="form-control tex" id="ether" value="0x0DEDC3Da84b93B81D2Bf2C9C4681f47e274c2fbb" readonly>
													<span class="input-group-addon danger btn" data-clipboard-action="copy" data-clipboard-target="#ether"><i class="white_text fa fa-clipboard" aria-hidden="true"></i></span>
													<span class="input-group-addon info"><span data-toggle="modal" data-target="#myModal2" class="white_text glyphicon glyphicon-qrcode"></span></span>
											    </div>
											</div>
										</div>
										<br>
										<br>
									</form>
								</div>
						</div>
					</div>    
					</div>
			</div>
			<footer>
		<div class="col-md-12">
			<h5 class="text-center" style="color:#fff;">Powered by <a href="https://www.devgenesis.com/" class="web-link" target="_blank">DevGenesis</a></h5>
		</div>
	</footer>
	</section>
	<!-- Modal1 -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">
                    
                        <!-- Modal content-->
                    <div class="modal-content modal-background">
						<div class="overlay-modal">
                        <div class="modal-header">
                            
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Bitcoin address and it's QR code</h4>
                        
                        </div>
                        
                        <div class="modal-body text-center">
                                    
                                    <h4 class="white_text">14JMbnfuxdciU57hAJQZQ7aqFwterzDCQR <span class="copy_link danger btn" data-clipboard-action="copy" data-clipboard-target="#bitcoin"><i class="white_text fa fa-clipboard" aria-hidden="true"></i></span></h4>                    
                                    <img src="/images/bitcoin.png" alt="Bitcoin Account QR" style="width:200px;height:200px; background-color:#fff">      
                                
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    
                </div>
				</div>
            </div>
            
                        <!-- Modal2 -->
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">
                    
                        <!-- Modal content-->
                    <div class="modal-content modal-background">
						<div class="overlay-modal">
                        <div class="modal-header">
                            
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ether address and it's QR code</h4>
                        
                        </div>
                        
                        <div class="modal-body text-center">
                            
                            <h4 class="white_text">0x0DEDC3Da84b93B81D2Bf2C9C4681f47e274c2fbb <span class="copy_link danger btn" data-clipboard-action="copy" data-clipboard-target="#ether"><i class="white_text fa fa-clipboard" aria-hidden="true"></i></span></h4>                    
                            <img src="/images/ether.png" alt="Ether Account QR" style="width:200px;height:200px;">      
                                
                        </div>

                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    </div>  
                </div>
            </div>
	


 
            <script src="/javascripts/jquery.min.js"></script>
	        <script src="/javascripts/bootstrap.min.js"></script>
			<script>
				var clipboard = new Clipboard('.btn');

					clipboard.on('success', function(e) {
						console.info('Action:', e.action);
						console.info('Text:', e.text);
						console.info('Trigger:', e.trigger);

						e.clearSelection();
					});

					clipboard.on('error', function(e) {
						console.error('Action:', e.action);
						console.error('Trigger:', e.trigger);
					});
			</script>
</body>
</html>