<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/listingICO.css">
</head>
<body>
	<div class="header clearfix">
		<a href=""><h1 class="cloud"><img src="/images/logo.png" alt="crypto image" width="90" height="50"">CRYPTO MARKET CLOUD</h1></a>
		<a href="/home" class="Home">Home</a>
		<a href="/icoform" class="Home">SubmitICO</a>
		<a href="" class="Home">About</a>
	</div>

		<div class="main">
			<h1 class="margin">CRYPTO MARKET CLOUD</h1>
             <h2 style="color: #196991;">The Best ICO List to Discover Emerging Cryptocurrencies</h2></br>
             <p style="color: #333333;"><b>CRYPTO MARKET CLOUD investigates current and upcoming Initial Coin Offerings, which we offer as a curated and always up to date cryptocurrency list of trending and upcoming ICOs.</b></p>
             <p style="color: #333333;"><b>Read on to explore the best ICO listing site and find out which are the best ICO’s of 2018.</b></p>
		</div>
		<div class="file">
			<h2 class="list" style="color: #196991;">ICO list file</h2>
		
		<div class="btn">
			<button class="button">ActiveICO</button>
			<button class="button">UpcomingICO</button>

		</div>
		<table>
                 <tr class="one">
                   <th>ICO name</th>
                      <th>Description</th>
                      <th>sale start</th>
                      <th>sale end</th>
                 </tr>
                    <tr class="two click" onclick="document.location='/icodetail'">
                   <td>DEZOS ownership</td>
                  <td>Global Scalable Asset..</td>
                  <td>NOV 1,2018</td>
                  <td>JAN 31,2019</td>
                 </tr>
                 <tr class="three click" onclick="document.location='/icodetail'">
                <td>CoTrader</td>
                <td>Disrupting the $85 trillion..</td>
                <td>OCT 1,2018</td>
                <td>DEC 31,2019</td>
                </tr>
                
		</table>
		</div>
		<p class="center"><b>ICO hot list</b></p></br>
		<div class="footer">
			<!-- <div class="inline"> -->
			  <h3>ICO hot list</h3>
		    <!-- </div> -->
			<!-- <div class="inline"> -->
				<h3>Site map</h3>
			<!-- </div> -->
			
		</div>
	
</body>
</html>