<!DOCTYPE html>
<html>
<head>
	<title>firstcode.com</title>
	<link rel="stylesheet" type="text/css" href="css/tokenbuy.css">

</head>
<body>
	
	<div class="header clearfix">
		<a href=""><h1 class="cloud"><img src="/images/logo.png" alt="crypto image" width="90" height="50"">CRYPTO MARKET CLOUD</h1></a>
		<a href="/home" class="Home">Home</a>
		<a href="/icoform" class="Home">SubmitICO</a>
		<a href="" class="Home">About</a>
	</div>
         <div class="particle"></div>
				<div class="particle"></div>  
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
				<div class="particle"></div>
	<div class="own">
	    <h2 style="color: #6666ff;"><b>DEZOS</b> Token Sale</h2></br>
	     <p style="color: #00004d;"><b>1 Ether = 100 DEZOS</b></p>
	</div>
	<div class="in">
	    <form>
		<input type="number" id="#ether_amount" onchange="updateValue(this.value)"> Ether
         <input type="number" id="#token_amount"> DEZOS
	    </form>
    </div>
	<div class="fill">
		<div class="add">
			<h3><div class="inline">Your Address:- </div>
			<div class="inline" id="#public_address"> xyz</div></h3>
		</div>
		<div class="bal">
			<h3><div class="inline2">Your Ether Balance:- </div>
			<div class="inline2" id="#ether_balance"> xyz</div></h3>
		</div>
		<div class="tok">
			<h3><div class="inline3">Your Token Balance:- </div>
			<div class="inline3" id="#token_balance"> xyz</div></h3>
		</div>
	</div>
	<div class="btn">
	  <button class="button" onclick="buytoken()">Buy</button>
	</div>
	
	<div class="note">
	  <p><b>Note</b>:- You must have metamask installed in your browser to buy DEZOS token.</p>	
	</div>	   

	 <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
   
	 <script src="/javascripts/buyToken.js"></script>		
		
   

</body>
</html>