* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #0b122d;
}
.btn2 {
    display: inline;
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #336798
}
.crypto {
    padding: 15px 0;
    text-align: center;
    background: #04029cfa;
    color: #fff;
    font-family: Helvetica Neue;
}
.logo p {
    font-size: 24px;
    font-weight: 600;
}
section.cntnt {
    padding: 10px 0;
    font-family: Arial;
    font-size: 18px;
}
.link_1_11 {
    text-align: center;
    padding: 150px 0px;
    height: 300px;
    background: #04029cfa;
    margin-top: 150px;
    font-size: 24px;
    border-radius: 20px;
}
.link_1_11 a {
    color: #fff;
    text-decoration: none;
}
.link_1_1_1 {
    text-align: center;
    padding: 130px 0;
    height: 300px;
    background:#04029cfa;
    margin-top: 150px;
    font-size: 24px;
    border-radius: 20px;
}
.link_1_1_1 a {
    color: #fff;
    text-decoration: none;
}
.link-1 {
    text-align: center;
    /* border-right: 1px solid #fff; */
    padding: 20px 0;
    height: 670px;
    background: #336798;
}
.link-1 a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}
.link-1-0{
  text-align: center;
  padding: 20px 0;
  height: 670px;
  background: #4687c3;
}
.link-1-0 a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}
.link-1-1{
  text-align: center;
  padding: 150px 0;
  height: 300px;
  background: #04029cfa;
  margin-top: 150px;
  font-size: 24px;
  border-radius: 20px;
}
.link-1-1 a {
    color: #fff;
	text-decoration: none
}


form.form_group {
    padding: 10px 0px;
}

.form_group label {
    float: left;
    padding: 0 0px 0 100px;
    color: #fff;
    width: 50%;
    text-align: left;
}
.token_list {
    padding: 30px 0;
}
.token_list .btn-default {
    color: #5f67dd !important;
    background-color: #fff;
    border-color: transparent;
    padding: 5px 40px;
    font-weight: 600;
    margin: 20px 0;
}
.token_list .btn-default:hover {
    background-color: #ffffff!important;
    color: #5f67dd !important;
}
.token_list select {
    float: left;
    margin: 0 50px;
    width: 70%;
    height: 41px;
}
.token_list p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: #fff;
}
p.token_count {
    text-align: center;
    padding: 4px 0;
    font-size: 18px;
}
p.model_paragraph {
    color: #5f67dd;
    font-size: 14px;
    padding: 5px 0;
}
.modal-footer {
    padding: 0px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
h4.modal-title {
    color: #3236d0 !important;
    font-weight: 600;
}
p.listed_token {
    padding: 10px 50px;
    font-weight: 600;
}